<%- include ("partials/head") %>
<%- include ("partials/navlink") %>
</nav>
<h2>Kies welke opstelling u wilt gebruiken uit de categorie: <%=  %></h2>

<% subcategorieItems.forEach(subItem => {%>
    <a href="subcategorieform/<%- subItem.id %>"><div class="choiceMenu SubMenuItem<%- subItem.id %>"><p class="btnBorder"><%= subItem.name %></p></div></a>
    <%}); %>
 
<%- include ("partials/foot") %>