<%- include ("partials/head") %>
<%- include ("partials/navlink") %>
</nav>

    <div class="progress-container">
        <div id="progressbar" class="progress-bar"></div>
    </div>

<main class="wrapper">
    <% subcategorieItems.forEach(subItem => {%>
        <label for="<% subItem.name %>">
            <a href="/prompt/<%-subItem.id %>">
                <div class="choiceMenu SubMenuItem<%- subItem.id %>">
                    <p class="btnBorder"><%= subItem.name %></p>
                </div>
            </a>
        </label>
    <%}); %>
</main>
 
<%- include ("partials/foot") %>