<%- include ("partials/head") %>
</nav>
<% items.forEach(item => {%>
<a href="categorie/<%- item.id %>"><div class="choiceMenu menuItem<%- item.id %>"><p class="btnBorder"><%= item.name %></p></div></a>
<%}); %>
<%- include ("partials/foot") %>