<%- include ("partials/head") %>
<h1 class="logoName">headstart</h1>
</nav>
<div class="progress-container">
	<div id="progressbar" class="progress-bar"></div>
</div>
<main class="wrapper">
<% items.forEach(item => {%>
    <label for="<%- item.name %>">
        <a href="categorie/<%- item.id %>"><div class="choiceMenu menuItem<%- item.id %>"><p class="btnBorder"><%= item.name %></p></div></a>
    </label>
<%}); %>
</main>
<%- include ("partials/foot") %>