<%- include ("partials/head") %>
</nav>

<div class="progress-container">
    <div id="progressbar" class="progress-bar"></div>
</div>

<main class="wrapper">
    <% items.forEach(item => {%>
        <label for="<%- item.name %>">
	    <a href="categorie/<%- item.id %>" class="loadhider">
	        <div class="choiceMenu menuItem<%- item.id %>">
	        <p class="btnBorder"><%= item.name %></p>
	        </div>
	    </a>
	    <div class="loadHider">.</div>\
        </label>
    <%}); %>
</main>

<%- include ("partials/foot") %>
